/* general settings*/

/* start nav*/
.navbar-expand-md .navbar-nav .dropdown-menu {
    display: block;
}

.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    float: right;
}

.librarian-dashboard {
    margin-top: 60px;
}

.add-book-button {
    float: left;
    width: 100px;
    margin: 20px 20px 0;
}

.add-book-button a {
    color: white;
}